*{
    padding: 0;
    margin: 0;
}
head{
    width: 100%;
    position: fixed;
    z-index: 1;
}
nav child{
    background-color: red;
    display: inline-flex;
    text-decoration: none;
    justify-content: space-between;

}